n8n/workflows/blog-crosspost-webhook.json
{
  "name": "ProfitEngine — Blog Cross-post Webhook",
  "nodes": [
    {
      "parameters": {
        "path": "blog-crosspost",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Receive blog from alreadyherellc.com",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "blog-crosspost"
    },
    {
      "parameters": {
        "url": "http://web:3000/api/webhooks/blog",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "forward-to-profitengine",
      "name": "Forward to ProfitEngine webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to caller",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Receive blog from alreadyherellc.com": {
      "main": [
        [
          {
            "node": "Forward to ProfitEngine webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to ProfitEngine webhook": {
      "main": [
        [
          {
            "node": "Respond to caller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "blog-crosspost-webhook",
  "tags": [
    "webhook",
    "content",
    "crosspost"
  ]
}
